---
---

<header class="flex flex-col md:flex-row md:flex md:justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="../../public/yo.webp" alt="Lucas photo">
    <nav class="flex sm:flex-row gap-x-10 opacity-80 flex-col items-center">
        <a href="/">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <!-- <a href="#contacto">Contacto</a> -->
    </nav>
</header>