<div
    id="sobre-mi"
    class="mt-20 lg:my-16 relative items-center py-5 w-full xl:w-[1120px] mx-auto"
>
    <div class="hidden lg:flex flex-col items-center absolute top-16 -right-8">
        <span
            class="bg-[#AB1E25] w-fit text-white rotate-90 p-2 px-5 text-xl rounded-md"
            >ABOUT ME</span
        ><span class="h-36 w-[2px] bg-[#AB1E25]"></span>
    </div><div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="order-2 lg:order-1">
            <p class="font-medium mb-5 text-blue-500/90 text-xl uppercase">
                Sobre Mi
            </p>
            <p class="text-gray-200 text-sm lg:text-lg">
                <p>
                    Hola, soy Lucas Iriarte Front-End Developer. Especializado
                    en el framework React. Con conociemientos En los lenguajes
                    JavaScript, Java y C. Con mas de un año de experiencia en el
                    desarrollo de paginas Web.
                </p>
                <p class="pt-2">
                    Actualmente estudiando en el tercer Año de Programacion en
                    la facultad "ISET" de Mar Del Plata, Argentina. Realizando
                    cursos en CoderHouse para perfeccionarme.
                </p>
                <p class="pt-2">Desarrollemos Juntos!</p>
            </p>
        </div><div class="flex justify-center order-1 lg:order-2 items-start">
            <img
                src="../../public/cami.webp"
                width="360"
                height="280"
                alt="Lucas Iriarte"
                class="rounded-lg transition-all duration-1000 grayscale hover:grayscale-0 hover:scale-110 cursor-pointer"
            />
        </div>
    </div>
    <div> 
        <h2 class="text-3xl text-center my-4 text-blue-500/90">Certificados</h2>
        <img class="my-8" src="../../public/web.webp" alt="Certificado de Desarrolo Web">
        <img src="../../public/js.webp" alt="Certificado de JavaScript">
    </div>
</div>
