---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import JavaScript from "../icons/JavaScript.astro"
import React from "../icons/React.astro"
import Firebase from "../icons/firebase.astro"
import Tailwind from "../icons/tailwind.astro"
import Java from "../icons/Java.astro"
import C from "../icons/C.astro"
import MySQL from "../icons/MySQL.astro"
const TAGS = [{
        name: "HTML",
        icon: HTML,
    }, 
    {
        name: "CSS",
        icon: CSS,
    },
    {
        name: "JavaScript",
        icon: JavaScript,
    },
    {
        name: "React",
        icon: React,
    },
    {
        name:"Firebase",
        icon: Firebase,
    },
    {
        name:"Tailwind",
        icon: Tailwind,
    },
    {
        name:"Java",
        icon: Java,
    },
    {
        name:"C",
        icon: C,
    },
    {
        name:"MySQL",
        icon: MySQL,
    }
]
---

<p class="uppercase text-center block mb-5 font-extrabold text-gray-600 dark:text-slate-200">
    Tecnologias
</p>

<section class="grid grid-cols-3 md:grid-cols-3 gap-4 items-center w-full xl:w-[1120px] mx-auto">
    
        {TAGS.map((tag)=>(
                <span class="text-center flex flex-col overflow-hidden items-center p-2 rounded-lg dark:text-slate-300 text-slate-600 dark:bg-slate-800 bg-neutral-50 w-100">
                    <tag.icon class="size-8"/>
                    {tag.name}
                </span>
        ))}
</section>